.row
  = simple_form_for([current_user, @user_organization_filter], :html => {:id => 'filter_form', :class => 'form-vertical' }, :wrapper => :vertical_form, :wrapper_mappings => {:boolean => :vertical_boolean}) do |f|
    .col-md-4
      = dialog_tag('Details', {:icon => 'fa fa-list', :class => "form-part"}) do
        = f.input :name, :placeholder => "Enter a name for this filter"
        = f.input :description, :as => :text, :placeholder => "Enter a description for this filter.", :rows => 3
        
    .col-md-8
      = dialog_tag('Organizations Filter', {:icon => 'fa fa-list', :class => "form-part"}) do
        #org_select.input-xlarge
          = f.association :grantees, :collection => Organization.where(id: @organization_list), :label_method => lambda { |o| "#{o.name} (#{o.short_name})" }, :label => "Organizations", :input_html => {:multiple => true}, :include_blank => false

 
    .col-md-12
      = f.button :submit, :class => "btn btn-primary"


= render 'form_scripts'
